.App {
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.Google_Map_Container {
  display: flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.maps {
  width: 100%;
  height: 100vh;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

.Search_Bar {
  position: absolute;

  z-index: 9999;
  bottom: 0;
}

thead {
  background-color: rgb(173, 173, 173);
}

tr:nth-child(odd) td {
  background: #fff;
  color: rgb(173, 173, 173);
}

tr:nth-child(even) td {
  background: rgb(173, 173, 173);
  color: #fff;
}
td {
  color: rgb(173, 173, 173);
  padding: 10px;
  font-size: 1.125rem;
  font-weight: normal;
}
